<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pc.smartmath">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ConverterUnitActivity"
            android:parentActivityName="com.example.pc.smartmath.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pc.smartmath.MainActivity" />
        </activity>
        <activity android:name=".CurrencyActivity"
            android:parentActivityName="com.example.pc.smartmath.ConverterUnitActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pc.smartmath.MainActivity" />
        </activity>
        <activity android:name=".TemperatureActivity"
            android:parentActivityName="com.example.pc.smartmath.ConverterUnitActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pc.smartmath.MainActivity" />
        </activity>
        <activity android:name=".WeightActivity"
            android:parentActivityName="com.example.pc.smartmath.ConverterUnitActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pc.smartmath.MainActivity" />
        </activity>
        <activity android:name=".AngleActivity"
            android:parentActivityName="com.example.pc.smartmath.ConverterUnitActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pc.smartmath.MainActivity" />
        </activity>
        <activity android:name=".DistanceActivity"
            android:parentActivityName="com.example.pc.smartmath.ConverterUnitActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pc.smartmath.MainActivity" />
        </activity>
        <activity android:name=".SpeedActivity"
            android:parentActivityName="com.example.pc.smartmath.ConverterUnitActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pc.smartmath.MainActivity" />
        </activity>
        <activity android:name=".CalculatorActivity"
            android:parentActivityName="com.example.pc.smartmath.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pc.smartmath.MainActivity" />
        </activity>
        <activity android:name=".CamActivity"
            android:parentActivityName="com.example.pc.smartmath.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pc.smartmath.MainActivity" />
        </activity>
        <activity android:name=".SettingActivity"
            android:parentActivityName="com.example.pc.smartmath.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pc.smartmath.MainActivity" />
    </activity>
        <activity android:name=".ListActivity"
            android:parentActivityName="com.example.pc.smartmath.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pc.smartmath.MainActivity" />
        </activity>
        <activity android:name=".TeamActivity"
            android:parentActivityName="com.example.pc.smartmath.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pc.smartmath.MainActivity" />
        </activity>
    </application>

</manifest>